<!-- partials/menu.ejs -->

<div id="mySidebar" class="sidebar"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h2>Menú</h2>
    <ul>
        <li><a href="/users/dashboard"><i class="fas fa-tachometer-alt"></i> Panel de Control</a></li>
        <li><a href="/users/expenses"><i class="fas fa-cash-register"></i> Caja</a></li>
        <li><a href="/config"><i class="fas fa-cog"></i> Configuración</a></li>

        <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
    </ul>
</div>