<!DOCTYPE html>
<html>
<head>
    <title>Registro Pendiente</title>
</head>
<body>
    <h1>Esperando confirmaci칩n del Administrador</h1>
    <p>Gracias por registrarte. Un administrador revisar치 tu solicitud y recibir치s un correo electr칩nico una vez que tu registro sea aprobado.</p>
</body>
</html>
